<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Regex</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Montserrat', sans-serif;
        }
        html {
            background-color: {{style.background_color}};
            color: {{style.text_color}};
            position: relative;
            height: 100vh;
        }
        body {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        img {
            width: 350px;
        }
    </style>
</head>
<body>
    <center>
        
        <h1>PWA - REGEX API</h1>
        <p>Adaptado da API do Livro da FCA "Desenvolvimento Avançado para a Web"</p>
        <img src="{{content.logo}}" alt="Regex">

    </center>
</body>
</html>